$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'bootstrap-sass/lib/bootstrap';

.page-features {
  position: relative;
  background: url(../images/sections/features/background.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white {
  color: #fff;
}
