img{border-style:none;}
a{
  color:#343434;
  text-decoration:underline;
}
a:hover{text-decoration:none;}
a:active {background-color: transparent;}
input, textarea, select{
  font:100% Arial, Helvetica, sans-serif;
  vertical-align:middle;
  color:#000;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
  margin:0;
  padding:0;
}
form, fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
#wrapper{
  width:100%;
  position:relative;
  overflow:hidden;
}
.navbar{
  margin-bottom: 8px;
  min-height: 11px;
}
#header .logo-box{
  display:inline-block;
  vertical-align:top;
  position:relative;
  margin:0 0 59px;
}
#header .logo-box:after{
  content:'';
  position:absolute;
  left:50%;
  bottom:-40px;
  background:url(../images/sprite.png) no-repeat -375px -395px;
  width: 48px;
  height: 41px;
  margin:0 0 0 -24px;
}
#header .logo-holder{
  position:relative;
  padding:18px 28px 10px;
}
#header .logo-holder:before,
#header .logo-holder:after{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:5px;
  background:url(../images/border.png) repeat-x;
}
#header .logo-holder:after{
  top:auto;
  bottom:0;
}
#header .logo {
  display:block;
  margin:0 auto;
  background:url(../images/logo.png) no-repeat;
  width:416px;
  height:67px;
  text-indent:-9999px;
  overflow:hidden;
}
#header .logo a{
  display:block;
  height:100%;
}
#header .slogan{
  display:block;
  color:#fff;
  font:18px/22px Georgia, 'Times New Roman', Times, serif;
  margin:0 0 10px;
  text-transform:uppercase;
}
#header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:5;
  text-align:center;
  padding-top: 33px;
}
.navbar-default{
  border:none;
  background:none;
  border-radius:0;
}
#nav ul{
  float:none;
  padding: 0;
  margin: 0;
  list-style:none;
  font: bold 13px/17px Georgia, 'Times New Roman', Times, serif;
  text-transform:uppercase;
  text-align:center;
}
#nav ul li{
  float:none;
  display:inline-block;
  vertical-align:top;
  padding:0 27px 0 30px;
  background:url(../images/separator.png) no-repeat 0 50%;
}
#nav ul li:first-child{background:none;}
#nav ul a{
  float:none;
  color:#fff;
  display:inline-block;
  vertical-align:top;
  text-decoration:none;
  padding:0;
}
#header.header-fixed{
  left: 0;
  position: fixed;
  right: 0;
  top:0;
  height:48px;
  padding:7px 0 5px;
  z-index: 10;
  background:#fff url(../images/border-2.png) repeat-x 0 100%;
  border-radius: 0;
}
#header.header-fixed #nav ul{
  padding:6px 0 0;
  text-align:left;
}
.header-fixed #nav ul a{color:#484848;}
.header-fixed #nav ul li{
  color:#484848;
  background:url(../images/separator-2.png) no-repeat 0 50%;
}
.header-fixed #nav ul li:first-child{
  background:none;
  padding-left:0;
}
#header.header-fixed .navbar{
  float:right;
  width: 68%;
  margin:0;
}
#header.header-fixed .logo{
  margin:0;
  background:url(../images/logo-2.png) no-repeat;
  width:220px;
  height:36px;
}
#header.header-fixed .logo-box{
  margin:0 0 0 2.6%;
  float:left;
  width: 27%;
  text-align:left;
}
#header.header-fixed .logo-holder{
  padding:0 0 2px;
  display:inline-block;
  vertical-align:top;
}
#header.header-fixed .logo-holder:before{
  background:none;
}
#header.header-fixed .slogan,
#header.header-fixed .switcher,
#header.header-fixed .btn-start{display:none;}
#header.header-fixed .logo-box:after{
  background:none;
  margin:0;
}
#header.header-fixed .logo-holder:after{
  position:absolute;
  content:'';
  left:50%;
  background:url(../images/sprite.png) no-repeat 0 -506px;
  width: 27px;
  height: 19px;
  bottom:-22px;
  margin:0 0 0 -16px;
}
#header.header-fixed .navbar-collapse {
  padding:0;
  text-align:left;
}
.btn-start{
  display:block;
  margin: 0 auto 17px;
  background:url(../images/sprite.png) no-repeat 0 -390px;
  width: 302px;
  height: 70px;
  border-radius: 100px;
  text-indent:-9999px;
  overflow:hidden;
}
.cycle-gallery {
  position: relative;
}
.cycle-gallery .mask {
  position: relative;
  overflow: hidden;
  width:100%;
}
.cycle-gallery .mask .slideset {
  width: 99999px;
  float: left;
  height:1070px;
}
.cycle-gallery .mask .slide {
  width:100%;
  float: left;
}
.cycle-gallery .mask .slide.active {z-index: 1;}
.cycle-gallery .slide img{
  display:block;
  width:100%;
  height:auto;
}
.switcher{
  display:block;
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
}
.switcher li{
  display:inline-block;
  vertical-align:top;
}
.switcher li a{
  display:block;
  background:#fff;
  width:8px;
  height:8px;
  border-radius: 8px;
  text-indent:-9999px;
  overflow:hidden;
}
.switcher li.active a{background:#414141;}
.switcher > li > a{
  padding:0;
  border:none;
  float:none;
  margin:0;
}
.section-about{
  padding-top: 47px;
  padding-bottom: 72px;
}
.video-block{
  background:url(../images/bg-video.jpg) no-repeat;
  width:444px;
  height:281px;
  margin:5px 0 0 35px;
  position:relative;
}
.video{
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}
.video-block.active .video{display:block;}
.video-block .holder{padding:24px;}
.video-block.active .holder{display:none;}
.video-block .play{
  display:block;
  margin:0 auto;
  background:url(../images/sprite.png) no-repeat;
  width: 82px;
  height: 81px;
  text-indent:-9999px;
  overflow:hidden;
}
.video-block .add-logo{
  display:block;
  margin:0 auto 5px;
}
.video-block h1:before,
.video-block h1:after{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:5px;
  background:url(../images/border.png) repeat-x;
}
.video-block h1:after{
  top:auto;
  bottom:0;
}
.section-about .text-holder{padding-right:35px;}
#main .section-about .text-holder h1{
  color:#537b8b;
  font: 29px/34px Georgia, 'Times New Roman', Times, serif;
  text-transform:uppercase;
  margin: 0 0 10px;
  text-align:left;
}
#main .section-about .text-holder h1 span{
  display:block;
  color:#303046;
  font-size: 17px;
  line-height: 23px;
}
.section{
  padding-top:2px;
  border-top:1px solid #4f4d70;
}
.section-features{padding-bottom:76px;}
#main h1{
  color:#29263c;
  font: 39px/45px Georgia, 'Times New Roman', Times, serif;
  text-transform:uppercase;
  text-align:center;
  margin:0 0 52px;
}
#main h1 strong{font-weight:bold;}
#main h2{
  color:#547b8c;
  font:23px/26px Georgia, 'Times New Roman', Times, serif;
  text-transform:uppercase;
  text-align:center;
  margin:0 0 9px;
}
#main h2 a{
  color:#547b8c;
  text-decoration:none;
}
.section p{margin:0;}
.section .heading{
  text-align:center;
  font-size:12px;
  padding-top:5px;
  max-width:800px;
  margin:0 auto 54px;
  line-height:14px;
}
#main .section .heading h1{margin:0 0 9px;}
#main .section .heading p{margin:0;}
.section-features .item{
  text-align:center;
  font-size:12px;
  margin-bottom: 80px;
  line-height: 1.5;
}
#main .section-features h2,
#main .section-team h2{
  font-size:17px;
  line-height:18px;
  margin: 0 0 9px;
}
#main .section-team h2{margin:0 0 7px;}
.section-features .item .icon{
  display:block;
  margin: 0 auto 13px;
}
.section-features .item h2{position:relative;}
.section-features .item h2:before{
  content:'';
  display:block;
  margin:0 auto 13px;
  background:url(../images/sprite.png) no-repeat 0 -554px;
  width: 97px;
  height: 97px;
}
.section-features .item .knowledge:before{background-position:0 -554px;}
.section-features .item .bibliographyc:before{background-position:-148px -555px;}
.section-features .item .support:before{background-position:-286px -555px;}
.section-features .item .apps:before{background-position:0 -682px;}
.section-features .item .domains:before{background-position:-142px -682px;}
.section-features .item .search:before{background-position:-286px -682px;}
.section-features .item .control:before{background-position:0 -807px;}
.section-features .item .media:before{background-position:-147px -807px;}
.section-features .item .analytics:before{background-position:-289px -805px;}
.section-team .item .photo{
  display:inline-block;
  vertical-align:top;
  margin:0 auto 28px;
}
.section-team .item .photo img{
  display:block;
  margin:0 auto;
}
.section-themes .item{margin-bottom:68px;}
.section-themes .visual{
  display:block;
  border:1px solid #c7c7c7;
  margin:0 0 23px;
}
.section-themes .visual img{
  display:block;
  width:100%;
  height:auto;
}
.section-team{padding-bottom:28px;}
.section-team .item{
  text-align:center;
  margin-bottom:66px;
  font-size:12px;
  line-height: 1.5;
}
#main .section-team h1{margin: 0 0 23px;}
.section-inside{
  color:#fff;
  padding: 72px 0 71px;
  margin-bottom:76px;
  position:relative;
  background:url(../images/bg-inside.jpg) no-repeat 50% 0;
  background-size:100% auto;
}
.section-inside .section{
  border-color:#fff;
  margin-bottom:4px;
}
#main .section-inside h1{
  color:#fff;
  padding-top: 3px;
}
.inside-list{
  padding: 24px 0 0;
  margin:0 auto;
  max-width:730px;
  list-style:none;
  text-transform:uppercase;
  font: 13px/18px Georgia, 'Times New Roman', Times, serif;
}
.inside-list li{
  display:inline-block;
  vertical-align:top;
  width:20%;
  margin: 0 2% 7%;
  text-align:center;
}
.inside-list a{
  display:inline-block;
  vertical-align:top;
  color:#fff;
  text-decoration:none;
  position:relative;
}
.inside-list a:before{
  content:'';
  display:block;
  margin: 0 auto 10px;
  background:url(../images/sprite.png) no-repeat 0 -99px;
  width: 104px;
  height: 104px;
}
.inside-list .security:before{background-position:0 -99px;}
.inside-list .documents:before{background-position:-121px -99px;}
.inside-list .events:before{background-position:-244px -99px;}
.inside-list .discussions:before{background-position:-363px -99px;}
.inside-list .notifications:before{background-position:0 -219px;}
.inside-list .install:before{background-position:-126px -218px;}
.inside-list .control:before{background-position:-248px -218px;}
.inside-list .r-themes:before{background-position:-374px -219px;}
#footer{
  color:#fff;
  font:bold 28px/32px Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  text-transform:uppercase;
  background:#1b1f24;
}
#footer .container{
  padding-top: 182px;
  padding-bottom: 56px;
}
#footer p{margin: 0 0 32px;}
#footer .btn{
  display:inline-block;
  color:#fff;
  font-size:17px;
  line-height:22px;
  text-decoration:none;
  border:3px solid #fff;
  padding:26px 30px 25px;
  min-width:320px;
  border-radius: 40px;
  font-weight:bold;
  margin: 0 0 134px;
  text-transform:uppercase;
}
#footer .contact{
  display:block;
  font-size:14px;
  line-height:18px;
}
#footer .contact a{
  color:#73afce;
  text-decoration:none;
}
#footer .contact a:hover{text-decoration:underline;}
.navbar-toggle{
  background:#fff;
  border:none;
  border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
@media only screen and (max-width: 1215px){
  .video-block{margin-left:13px;}
  .section-about .text-holder{padding-right:13px;}
  .btn-start{
    background:rgba(204,204,204,0.8) url(../images/sprite.png) no-repeat 0 -390px;
    border-radius: 100px;
  }
  .cycle-gallery .mask .slideset{height:683px;}
}
@media only screen and (max-width: 979px){
  #header.header-fixed .logo{
    width:180px;
    height:29px;
    background-size:180px 28px;
  }
  #header.header-fixed .logo-holder{padding:5px 0 0;}
  #header.header-fixed .logo-holder:after{bottom:-25px;}
  .cycle-gallery .mask .slideset{height:648px;}
  .video-block{margin:0 auto 30px;}
  #main .section-about .text-holder h1{text-align:center;}
  .section-about .text-holder{
    padding:0 15px;
    text-align:center;
  }
  .section-features{padding-bottom:0;}
  .section-team .item .photo{
    width:80%;
    height:auto;
  }
  .section-team .item .photo img{
    width:100%;
    height:auto;
  }
  .cycle-gallery .slide img{
    width:150%;
    position:relative;
    left:-25%;
  }
}
@media only screen and (max-width: 767px){
  #header{padding-top:8px;}
  #header .logo{
    width:230px;
    height:37px;
    background-size:230px 37px;
  }
  .navbar{position:relative;}
  .navbar-collapse{
    background:#fff;
    padding:0;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    z-index:10;
  }
  .navbar-toggle{margin:0;}
  #header.header-fixed .navbar{position:static;}
  #header.header-fixed #nav ul{
    text-align:center;
    padding:0;
  }
  .header-fixed #nav ul li{
    background:none;
  }
  #nav ul li{
    display:block;
    margin:0;
    padding:0;
    background:none;
  }
  #nav ul a{
    display:block;
    color:#484848;
    padding:10px 8px;
  }
  #nav ul a:hover{background:#ddd;}
  .cycle-gallery .mask .slideset{height:540x;}
  .section-themes .item{margin-bottom:57px;}
  .section-team .item .photo{
    width:60%;
    height:auto;
  }
  .section-inside{background-repeat: repeat;}
  .cycle-gallery .slide img{
    width:200%;
    position:relative;
    left:-50%;
  }
  .inside-list li{
    width:30%;
    margin:0 1% 6%;
  }
  #footer .container {
    padding-top: 102px;
    padding-bottom: 46px;
  }
  #footer .btn{margin:0 0 84px;}
}
@media only screen and (max-width: 479px){
  #header .logo-box{margin:0 0 38px;}
  #header .slogan{
    font-size:16px;
    line-height:22px;
  }
  #header .container{
    padding-left:8px;
    padding-right:8px;
  }
  .cycle-gallery .mask .slideset{height:360px;}
  .video-block{width:290px;}
  .video-block .add-logo{
    width:99%;
    height:auto;
  }
  .section-about{padding-bottom:42px;}
  .section-about .text-holder{padding:0 10px;}
  #main .section-about .text-holder h1{
    font-size:24px;
    line-height:26px;
  }
  .section-features{padding-bottom:22px;}
  .section-features .item{margin:0 0 50px;}
  .section-themes .item{margin:0 0 47px;}
  .section-inside{
    padding:57px 0;
    margin-bottom:60px;
  }
  .inside-list{padding:0;}
  .inside-list li{
    width:45%;
    margin:0 2% 6%;
  }
  #main h1{
    font-size:30px;
    line-height:35px;
  }
  .section-features .item,
  .section-themes .item,
  .section-team .item{
    width:100%;
  }
  .section-team .item{margin-bottom:60px;}
  .section-team .item .photo{width:50%;}
  #footer .container{padding-top:80px;}
  #footer{
    font-size:20px;
    line-height:24px;
  }
  #footer .btn{
    min-width:250px;
    padding:18px 20px 17px;
    font-size:15px;
    line-height:22px;
    margin:0 0 50px;
  }
  .video-block{height:188px;}
  .video {
    /* position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0; */
    height:100%;
  }
  .video iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
  }
}
.video{
  background:#000;
  width:100%;
  height:100%;
  /* display:block; */
}
